  /* サイト全体のフォントをPixelMplus10 Regularに指定*/
  body {
    font-family:PixelMplus10 Regular!important;
  }

/*コンテンツ全体の背景の色*/
  main {
    background-color: #F3F3F3;
  }

  /*トップページのヘッダー画像*/
 .jumbotron {
    background-image: url("/assets/game-top.jpeg");
    background-size: cover;
    background-position: center 60%;
    height: 80vh;
    padding:0;
  }

  /*トップページの画像を透過*/
  .bg-mask {
    height: 100%;
    background: rgba(61, 61, 61, 0.9);
    width: 100%;
    padding: 0;
  }

  /*ショップの情報登録の部分の画像*/
  .wanted {
    background-image: url("/assets/game-top.jpeg");
    background-size: cover;
    background-position: center 60%;
    height: 55vh;
    padding:0;
  }

/*wantedコンテンツ部の画像を透過*/
  .mask-wanted {
    height: 100%;
    background: rgba(32, 32, 32, 0.5);
    width: 100%;
    padding: 0;
  }

  /*
  .dot-font {
    font-family: 'Press Start 2P', cursive;
  }

  .dot-ja {
    font-family: 美咲ゴシック;
  }
  */

  .footer-bg {
    background-color: #FACD00!important;
  }

  .text-red {
    color: #E60012;
  }

  .pref a {
    font-size: 0.8rem;
  }

  .icon-img {
      display: block;
      width: 80px;
      height: 80px;
      border-radius: 50%;
  }

  .shop-img {
      width: 100%;
      height: 185px;
      object-fit: cover;
  }


  @font-face
  {
  font-family: 美咲ゴシック;
  src: url('https://cdn.leafscape.be/misaki/misaki_gothic_web.woff2')
       format("woff2");
  }

  @font-face
  {
  font-family: PixelMplus10 Regular;
  src: url('https://cdn.leafscape.be/PixelMplus/PixelMplus10-Regular_web.woff2')
      format("woff2");
  }

  .nes-balloon {
    padding: 0.5rem 1rem!important;
  }

  .nes-container.is-rounded{
    padding: 0.5rem 1rem!important;
  }

  /*1024px以下にcssを変更する*/
  @media screen and (max-width: 1024px) {
    .p-sp {
      font-size: 10px;
      font-weight: bold;
    }

    .icon-img {
      display: block;
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }

  }
